<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./app.js"></script>
    <script src="./commanconstants.js"></script>
    <script src="./userFactory.js"></script>
    <script  src="./userController.js"></script>
</head>
<body ng-app="userapp" class="container-fluid">
    <h1 class="text-center alert-danger">Login</h1>
        <div class="form-group" ng-controller="registeruser">
                <form action="">
                    <label for="">Userid</label>
                    <input type="text" placeholder="enter firstname" class="form-control" ng-model="user.userid">
                    <label for="">Password</label>
                    <input type="password" placeholder="enter password" class="form-control" ng-model="user.password">
                    <label for="">Name</label>
                    <input type="text" placeholder="enter name" class="form-control" ng-model="user.name">
                    <label for="">DOB</label>
                    <input type="date" placeholder="enter date" class="form-control" ng-model="user.date">
                    <label for="">Phone Number</label>
                    <input type="number" placeholder="enter Phone Number" class="form-control" ng-model="user.phnumber">
                    
                    <button class="btn btn-lg btn-primary" ng-click="doLogin()">Login</button>
                </form>
        </div>
</body>
</html>